{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block page_content %}
<div style="font-family:'Lucida Calligraphy';background:#F3EADA">
    <b> Promet: </b> {{'%0.2f'| format(promet|float)}}kn <br />
    <b> Prosječna cijena narudžbe: </b> {{'%0.2f'| format(avgPrice|float)}}kn <br />
    <b> Tri (ili manje) najnaručivanijih jela su: </b> <br />
    <ul>
        {% for el in top3 %}
        <li>
            Jelo {{el[0]}} je naručeno {{el[1]}} puta.
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}